<h2>{{ question.question_text }}</h2>

{% if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}

{% if question.choice_set.all %}
<form method="post" action="{% url 'polls:vote' question.id %}">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <div>
            <input type="radio" name="choice" id="choice{{ forloop.counter }}"
                   value="{{ choice.id }}"{% if forloop.counter == 1 %} checked {% endif %}>
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }} ({{ choice.votes }})</label>
        </div>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

{% endif %}